<html>
  <head>
    <title>Dayo's Data Visualization Assignment</title>

    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/main.css') }}">

  </head>
  <body>
      <h1 align="center">Government expenditure on education as % of GDP</h1>

    <div class="cell">
        <p class="main-text">
            In the bar plots below, what we see is the Government expenditure on education as % of GDP
            from the years 2000-2014
        </p>

        {% for i in range(0, 11, 1) %}
          <img src="{{ url_for('static', filename='images/hbars3_'+i|string+'.png') }}" width="70%" >
        {% endfor %}

      </div>



      </div>

  </body>
</html>